 

body {
	margin: 0;
	font-family: 'Cabinet Grotesk', sans-serif;
  font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: 'Cabinet Grotesk', sans-serif;
 
}


:root {
	/* ------- colors ------- */
	--primary-color: #240053;
	--primary-color-light: #8806F6;
	--primary-color-lighter: #43246B;
	--primary-color-lighter-top:#D6ABFC;
	--white: #fff;
	/* --secondary-color: #65656d;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;  */
 
 
}

 /* --- Other CSS Files --- */ 
  @import url(./css/TopSsction.css);  
  @import url(./css/header.css);  
 
 
 ::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: #383636;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(0, 0, 0);
}

 
 
 
 

 

 